
<h2>Ruby on Rails for Heroku</h2>

<p>Welcome to Heroku Homes</p>

<%= image_tag("https://pmcdeadline2.files.wordpress.com/2013/09/voice-uk__130911105016.jpg") %>

<%= image_tag("images/image_woman.png") %>

<img src="/images/image_woman.png" />